html {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#time {
    font-size: 7em;
}

#date {
    font-size: 2em;
}

body {
    color: #FFF;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-top: 9em;
  }